services:
    -
        class: AccessingGlobals\Rules\NeverAccessGlobalsRule
        tags:
            - phpstan.rules.rule
    -
        class: AccessingGlobals\Rules\NeverModifyGlobalsRule
        tags:
            - phpstan.rules.rule
    -
        class: AccessingGlobals\Rules\NeverAccessSuperGlobalsRule
        tags:
            - phpstan.rules.rule
    -
        class: AccessingGlobals\Rules\NeverModifySuperGlobalsRule
        tags:
            - phpstan.rules.rule
