services:
    -
        class: AccessingGlobals\Rules\NeverAccessGlobalsRule
        tags:
            - phpstan.rules.rule
    -
        class: AccessingGlobals\Rules\NeverModifyGlobalsRule
        tags:
            - phpstan.rules.rule
    -
        class: AccessingGlobals\Rules\NeverModifyGloballyDeclaredVariablesRule
        tags:
            - phpstan.rules.rule
    -
        class: AccessingGlobals\Rules\NeverAccessSuperGlobalsInNestedScopeRule
        tags:
            - phpstan.rules.rule
    -
        class: AccessingGlobals\Rules\NeverModifySuperGlobalsInNestedScopeRule
        tags:
            - phpstan.rules.rule
